script.
    var scheduled, scheduledIncludeChart, dataUrl, point, isViewer, title;
    scheduled = ('!{scheduled}' == "true");
    scheduledIncludeChart = ('!{scheduledIncludeChart}' == "true");
    dataUrl = '!{dataUrl}';
    point = JSON.parse('!{point}');
    isViewer = false;
    title = '!{title}';