script.
    var scheduled, scheduledConfig, scheduledIncludeChart, dataUrl, point;
    scheduledConfig = !!('!{scheduledConfig}') ? JSON.parse('!{scheduledConfig}') : undefined;
    scheduledIncludeChart = (!!scheduledConfig) ? scheduledConfig.scheduledIncludeChart : false;
    scheduled = (!!scheduledConfig);
    dataUrl = '!{dataUrl}';
    point = ('!{point}' !== '' ? JSON.parse('!{point}') : '');
