//
   Created by Soven on 7/9/2014.
doctype html
html
    head
        title Dorsett Report UI - Point Pivot
        meta(charset="utf-8")
        link(href="/kendoLab528/examples/content/shared/styles/examples-offline.css", rel="stylesheet")
        link(href="/kendoLab528/styles/kendo.common.min.css", rel="stylesheet")
        link(href="/kendoLab528/styles/kendo.rtl.min.css", rel="stylesheet")
        link(href="/kendoLab528/styles/kendo.moonlight.min.css", rel="stylesheet")
        link(href="/kendoLab528/styles/kendo.dataviz.min.css", rel="stylesheet")
        link(href="/kendoLab528/styles/kendo.dataviz.default.min.css", rel="stylesheet")
        link(rel="stylesheet", href="/css/lib/bootstrap-3.0.3.min.css")
        script(src="/kendoLab528/js/jquery.min.js")
        script(src="/kendoLab528/js/kendo.all.min.js")
        script(src="/js/lib/bootstrap-3.0.3.min.js")
        script(src="/js/lib/config.js")
        style.
            /*.k-grid tbody tr {*/
            /*cursor: move;*/
            /*}*/
            .hint {
                border: 2px solid #2db245;
                border-radius: 6px;
            }
            .k-grid-header{
                display:none;
            }
            .k-widget{
                border-color: #c5c5c5;
                border:none;
            }
            .k-grid-content{
                overflow-y: hidden;
            }
            .placeholder {
                background-color: #dceffd;
                color: #52aef7;
                text-align: right;
            }

            .well {
                padding: 9px;
                padding-left: 29px;
                padding-right: 29px;
                /*background-color: #7BA1B5;*/
                border: 1px solid #e3e3e3;
            }

            html,body{background-color:#959929;}
    body
        script#edit-template(type="text/x-kendo-template")
            # if (data.valueType === "Float" ) { #
            #=data.precision#
            # } #
        script#conditionTemplate(type="text/x-kendo-template")
            # if (!data.firstRow) { #
            #=data.condition#
            # } #
        script#valueViewTemplate(type="text/x-kendo-template")
            # if (data.value != "" && (data.valueType == "HourMinSec" || data.valueType == "MinSec")) { #
            #= kendo.toString(new Date(data.value), "h:mm tt" ) #
            #}else if (data.valueType == "Float"){ #
            #= kendo.toString(data.value, "{0:n2}") #
            # }else{ #
            #=data.value #
            # } #
        #window
        .container
            .row.form-horizontal
                .form-group.clearfix
                    label.col-sm-1.control-label(for="reportTitle") Title
                    .col-sm-11
                        input#reportTitle.form-control(type="text", placeholder="Specify Report Title", style="width:100%")
            .row.clearfix
                .col-xs-6.well
                    label Point Columns
                    .row
                        #columnGrid
                .col-xs-1
                .col-xs-5.well
                    label Date Range
                    .row
                        #filterGrid
            .row.well.clearfix
                label Options
                .checkbox
                    label
                        input#includeFilter(type="checkbox")
                        | Include filter criteria at the end of the Report
                .checkbox
                    label
                        input#includeFooterDetails(type="checkbox")
                        | Include report name at the end of the Report
            .row.well.clearfix
                .col-xs-4
                .col-xs-8
                    button#getData Undo
                    button#loadData Save
                    button#scheduleReport Schedule Report
                    button#runReport Run Report
            .row
                #message.alert(role="alert")
            .row
                #gridData
                #gridData2
            form#runReportForm(method="post", target="_blank")
                input#params(type="hidden", name="params", value="")
                //input#reportType(type="hidden", name="reportType", value="PointPivot")
            include ./models/scheduleReport

    script(src="/js/report/pointpivot.js")