doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/css/lib/jqwidgets/jqx.base.css", type="text/css")
        link(rel="stylesheet", href="/css/lib/jqwidgets/jqx.customArctic.css", type="text/css")
        link(rel="stylesheet", href="/css/lib/bootstrap3.min.css")
        link(rel="stylesheet", href="/css/lib/font-awesome-4.1.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/pointLookup/style.css")

        style.
            body {
                min-height: 260px;
            }
            .panel-heading {
                 position: absolute;
                 top: 16px;
                 padding-top: 0;
                 padding-left: 0;
             }
            .panel-heading > .panel-title {
                font-size: 18px;
                text-transform: uppercase;
                margin: 0;
                display: inline-block;
            }
            .cloneTitle {
                display: inline-block;
            }
            #container {
                position: absolute;
                top: 50px;
                right: 10px;
                bottom: 10px;
                left: 10px;
            }
            #pointNameColumn {
                background-color: #f1f1f1;
            }
            .actions {
                position: absolute;
                bottom: 0px;
                right: 10px;
            }
            .toolbar .input-sm {
                text-transform: none;
            }
            .invalidCharMsg {
                position: absolute;
                display: none;
                background-color: #C22C2C;
                color: #FFF;
                padding: 3px 6px;
                border-radius: 3px;
                min-width: 160px;
            }
            .inputError {
                webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                border-color: red;
                -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(255, 102, 102, 0.6) 0px 0px 8px 0px;
                   -moz-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(255, 102, 102, 0.6) 0px 0px 8px 0px;
                        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(255, 102, 102, 0.6) 0px 0px 8px 0px;

            }
            ::-webkit-input-placeholder { text-transform: uppercase; }
            ::-moz-placeholder          { text-transform: uppercase; } /* firefox 19+ */
            :-ms-input-placeholder      { text-transform: uppercase; } /* ie */
            input:-moz-placeholder      { text-transform: uppercase; }

        script(src="/js/lib/jquery.min.js")
        script(src="/js/lib/knockout-3.2.0.js")
        script(src="/js/lib/knockout-projections.min.js")
        script(src="/js/lib/jquery.html5PlaceholderShim.js.min.js")

        script(src="/js/lib/jquery.querystring.js")
        script(src='/js/lib/jquery.blockUI.js')
        script(src="/js/lib/jqwidgets/jqxcore.js")
        script(src="/js/lib/jqwidgets/jqxdata.js")
        script(src="/js/lib/jqwidgets/jqxknockout.js")
        script(src="/js/lib/jqwidgets/jqxbuttons.js")
        script(src="/js/lib/jqwidgets/jqxscrollbar.js")
        script(src="/js/lib/jqwidgets/jqxlistbox.js")
        script(src="/js/lib/jqwidgets/jqxsplitter.js")
        script(src="/js/lib/jqwidgets/jqxtabs.js")
        script(src="/js/lib/jqwidgets/jqxgrid.js")
        script(src="/js/lib/jqwidgets/jqxgrid.selection.js")
        script(src="/js/lib/jqwidgets/jqxcheckbox.js")
        script(src="/js/lib/jqwidgets/jqxmenu.js")
        script(src="/js/lib/jqwidgets/jqxwindow.js")
        script(src="/js/v2/dorsettUtility.js")
        script(src="/js/pointLookup/newPoint.js")
    body
        .panel-heading
            h3.panel-title Create Point
                // ko if: pointType()
                span(data-bind="text: '(' + pointType() + ') ' || ''")
                // /ko
            .cloneTitle(data-bind="text: fullName")
        #container
            #splitter.height100percent
                #pointTypeColumn
                    .pointTypeHeader
                        .blockHeader Point Types
                        .blockHeader
                            span(style="font-weight: normal;text-transform:none") Choose a point type
                    #pointTypeListContainer
                        #pointTypes.noBorder
                #pointNameColumn
                    .toolbar.row
                        .col-xs-12
                            h5(data-bind="text: 'Name the point, then click \"Create ' + operationType() + '\"'")
                    .toolbar.row
                        .col-xs-3
                            input.input-sm.form-control(data-bind="value: name1, allowedChars: name1, valueUpdate: 'afterkeydown'", type="text", placeholder="Segment 1", tabindex="101")
                        .col-xs-3
                            input.input-sm.form-control(data-bind="value: name2, allowedChars: name2, valueUpdate: 'afterkeydown'", type="text", placeholder="Segment 2", tabindex="102")
                        .col-xs-3
                            input.input-sm.form-control(data-bind="value: name3, allowedChars: name3, valueUpdate: 'afterkeydown'", type="text", placeholder="Segment 3", tabindex="103")
                        .col-xs-3
                            input.input-sm.form-control(data-bind="value: name4, allowedChars: name4, valueUpdate: 'afterkeydown'", type="text", placeholder="Segment 4", tabindex="=104")
                    // ko if: subTypeList().length
                    .typeChooser.toolbar.row
                        .col-xs-3
                            = 'Choose a '
                            span(data-bind="text: pointType")
                            = ' Type '
                        .col-xs-9
                            select.form-control.input-sm(data-bind="options: subTypeList, optionsValue: 'value', optionsText: 'name', value: subType")
                    // /ko
                    .actions.form-group
                        button.createPointBtn.btn.btn-sm.btn-primary(data-bind="text: 'Create ' + operationType()")
                        button.cancelBtn.btn.btn-sm.btn-danger Cancel

        .invalidCharMsg
            //- invalidChar has no class definition; it is only used for DOM retrieval
            span.invalidChar
            span  character is not allowed

        script.
            (function(module) {
                module.ID           = !{id};
                module.NAME         = !{name};
                module.POINTTYPE    = !{pointType};
                module.POINTTYPES   = !{pointTypes};
                module.SUBTYPE      = !{subType};
            })(window.newPoint || {});
