html
  head
    script.
      plotTitle = '#{title}';
      plotHeight = '#{height}';
      plotWidth = '#{width}';
      plotPoints = '#{points}';
      plotPoints = plotPoints.split(',');
      yaxis = '#{yaxis}';
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="/js/lib/highstock.js")
    script(src="/js/lib/highcharts-more.js")
    script(src='/trendtest/trendTest2.js')
  body(style="background-color:white;margin:0px")
    div#trendTest3(class="trendPlot",width="600",height="400")
    script.
      $(document).ready(function(){

        $('#trendTest3').stockPlot2({ points: plotPoints });
        


        })